Intro/C++/test/cmake-build-debug/C_main_file
Intro/C++/test/.idea/.gitignore
Intro/C++/test/.idea/editor.xml
Intro/C++/test/.idea/misc.xml
Intro/C++/test/.idea/modules.xml
Intro/C++/test/.idea/untitled.iml
Intro/C++/test/.idea/vcs.xml
Intro/C++/test/cmake-build-debug/.ninja_deps
Intro/C++/test/cmake-build-debug/.ninja_log
Intro/C++/test/cmake-build-debug/build.ninja
Intro/C++/test/cmake-build-debug/cmake_install.cmake
Intro/C++/test/cmake-build-debug/CMakeCache.txt
Intro/C++/test/cmake-build-debug/cpp_main_file
Intro/C++/test/cmake-build-debug/untitled
Intro/C++/test/cmake-build-debug/.cmake/api/v1/query/cache-v2
Intro/C++/test/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
Intro/C++/test/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
Intro/C++/test/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
Intro/C++/test/cmake-build-debug/.cmake/api/v1/reply/cache-v2-01405d1554020190942a.json
Intro/C++/test/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-3e2b71158104e6527368.json
Intro/C++/test/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0292b1dd74572af8639d.json
Intro/C++/test/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
Intro/C++/test/cmake-build-debug/.cmake/api/v1/reply/index-2024-10-16T16-41-41-0558.json
Intro/C++/test/cmake-build-debug/.cmake/api/v1/reply/target-c_main_file-Debug-c5f5b0deae9c9dd3a4fb.json
Intro/C++/test/cmake-build-debug/.cmake/api/v1/reply/target-cpp_main_file-Debug-3fff50c9c13d4658a0f7.json
Intro/C++/test/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-536a7eaeba1a33fdf7c1.json
Intro/C++/test/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
Intro/C++/test/cmake-build-debug/CMakeFiles/clion-environment.txt
Intro/C++/test/cmake-build-debug/CMakeFiles/cmake.check_cache
Intro/C++/test/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
Intro/C++/test/cmake-build-debug/CMakeFiles/rules.ninja
Intro/C++/test/cmake-build-debug/CMakeFiles/TargetDirectories.txt
Intro/C++/test/cmake-build-debug/CMakeFiles/3.29.6/CMakeCCompiler.cmake
Intro/C++/test/cmake-build-debug/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
Intro/C++/test/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
Intro/C++/test/cmake-build-debug/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
Intro/C++/test/cmake-build-debug/CMakeFiles/3.29.6/CMakeSystem.cmake
Intro/C++/test/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/a.out
Intro/C++/test/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
Intro/C++/test/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/a.out
Intro/C++/test/cmake-build-debug/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
Intro/C++/test/cmake-build-debug/CMakeFiles/C_main_file.dir/idk.c.o
Intro/C++/test/cmake-build-debug/CMakeFiles/C_main_file.dir/main.c.o
Intro/C++/test/cmake-build-debug/CMakeFiles/cpp_main_file.dir/main.cpp.o
Intro/C++/test/cmake-build-debug/CMakeFiles/untitled.dir/idk.c.o
Intro/C++/test/cmake-build-debug/CMakeFiles/untitled.dir/main.cpp.o
Intro/C++/test/cmake-build-debug/Testing/Temporary/LastTest.log
.gitignore
Intro/C++/test/.idea/.gitignore
Intro/C++/test/.idea/editor.xml
Intro/C++/test/.idea/misc.xml
Intro/C++/test/.idea/modules.xml
Intro/C++/test/.idea/untitled.iml
Intro/C++/test/.idea/vcs.xml
Intro/C++/test/.idea/.gitignore
Intro/C++/test/.idea/editor.xml
Intro/C++/test/.idea/misc.xml
Intro/C++/test/.idea/modules.xml
Intro/C++/test/.idea/untitled.iml
Intro/C++/test/.idea/vcs.xml
